<div class="row mt-3 mt-sm-4 mt-md-5 h-40">
    <div class="offset-1 col-10 offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <div class="row card h-100 text-center border-primary px-0">
            <div class="card-header text-white bg-primary">Prijava:</div>
            <div class="card-body d-flex flex-column flex-grow-1">
                <form class="card-title forma ">
                    <div class="form-group mb-4">
                        <input type="username" class="form-control" id="usernameInput" aria-describedby="emailHelp" placeholder="Unesite korisničko ime">
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" class="form-control" id="passwordInput" placeholder="Unesite šifru">
                    </div>
                    <button type="submit" class="btn btn-primary">Prijavi se</button>
                </form>
            </div>
        </div>
    </div>
</div>
