.slotsContainer {
  overflow: hidden;
  position: relative;
}

.slot {
  display: flex;
  align-items: center;
}

.line {
  flex: 1;
  background: rgb(203, 203, 203);
  height: 1px;
}

.slotTime {
  width: 40px;
  margin-right: 10px;
}
