<app-feedback-modal></app-feedback-modal>
<div class="row reservation-filter-row mt-2">
    <div class="col-2">
        <h1>Rezervacije</h1>
    </div>
    <button (click)="onButtonClick()">Open myModal</button>
    <div class="col-8 px-0 d-flex flex-column justify-content-end">
            <form class="form-inline" [formGroup]="reservationFilterForm">
                <div class="alert alert-secondary row w-100 ml-0 mb-0" role="alert" d-flex flex-column justify-content-center>
                    <div class="form-group offset-2 col-4 date-picker-form-group px-0">
                        <div class="input-group">
                            <label class="date-picker-label" for="date-picker">Datum:</label>
                            <input class="form-control date-picker-form-control ml-3" placeholder="gggg-mm-dd"
                                name="date-picker" ngbDatepicker #d="ngbDatepicker" formControlName="date" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar calendar-btn fa fa-calendar" (click)="d.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-4 worker-form-group px-0">
                        <label class="worker-label ml-5" for="worker">Frizer:</label>
                        <select id="worker" class="form-control worker-form-control ml-3 col" formControlName="worker">
                        <option selected>Dejan</option>
                        <option>...</option>
                        </select>
                    </div>
                </div>
            </form>
    </div>
</div>
<div class="row reservation-root-row mt-2">
    <div class="offset-2 col-8 h-100">
        <div class="row card text-center border-secondary h-100">
            <div class="card-body table-sm table-responsive py-0 h-100">
                <table class="table table-hover h-100 mb-0">
                    <thead class="table-header">
                        <tr class="row">
                            <th class="col-2">Vreme</th>
                            <th class="col-3">Ime</th>
                            <th class="col-3">Prezime</th>
                            <th class="col-2">Usluga</th>
                            <th class="col-1 pr-4">Dodaj</th>
                            <th class="col-1 pr-4">Otkaži</th>
                        </tr>
                    </thead>
                    <tbody class="table-body h-100">
                        <tr class="row table-body-row" *ngFor='let appointment of getReservationAppointments();let i = index'>
                            <td class="d-flex justify-content-center align-items-center col-2 p-0">{{appointment | date:"HH:mm"}}</td>
                            <td class="d-flex justify-content-center align-items-center col-3 p-0">Arsenije</td>
                            <td class="d-flex justify-content-center align-items-center col-3 p-0">Degenek</td>
                            <td class="d-flex justify-content-center align-items-center col-2 p-0">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-secondary dropdown-toggle p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Izaberite..
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item">Šišanje</a>
                                      <a class="dropdown-item">Feniranje</a>
                                      <a class="dropdown-item">Pranje kose</a>
                                    </div>
                                  </div>
                            </td>
                            <td class="d-flex justify-content-center align-items-center col-1 p-0">
                                <a class="btn btn-sm">
                                    <i class="fa fa-pencil-square-o pr-4" aria-hidden="true" *ngIf="i%2 === 0"></i>
                                    <i class="fa fa-plus-square-o pr-4" aria-hidden="true" *ngIf="i%2 !== 0"></i>
                                </a>
                            </td>
                            <td class="cd-flex justify-content-center align-items-center col-1 p-0">
                                <a class="btn btn-sm pr-5"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <a href="#" class="float">
                        <i class="fa fa-plus my-float"></i>
                    </a>
                </table>
            </div>
        </div>
    </div>
</div>