.reservation-filter-row {
    height: 13%;
}

.reservation-root-row {
    height: 86%;
}

.table-body {
    font-size: 70%;
}

.table-header {
    font-size: 90%;
}

.table-body-row {
    height: 4%;
}


