.reservation-filter-row {
    height: 13%;
}

.reservation-root-row {
    height: 86%;
}

.table-body {
    font-size: 100%;
}

.table-header {
    font-size: large;
}

.table-body-row {
    height: 4%;
}

.btn-sm {
    padding: 0;
}

a:hover {
    cursor:pointer;
}

.date-picker-label {
    font-size: x-large;
}

.worker-label {
    font-size: x-large;
}

.form-control {
    border-bottom-left-radius: 0.25rem !important;
    border-top-left-radius: 00.25rem !important;
}

.alert-secondary {
    box-shadow: 2px 2px 3px #6c757d;
}

.card {
    box-shadow: 2px 2px 3px #6c757d;
}

h1 {
    color: #007bff;
}

.form-inline {
    // border: red 5px dotted;
}

.calendar-btn {
    background-color: white;
}

.date-picker-form-group {
    // border: blue dotted 3px;
}

.worker-form-group {
    // border: blue dotted 3px;
}

.date-picker-form-control {
    // border: 3px green dotted;
    background-color: white;
}

.worker-form-control {
    // border: 3px green dotted;
}

.input-group-append {
    // border: 3px red dotted;
}

//floating-button

.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:5%;
	right:17.7%;
	background-color: #007bff;
	color: white;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #6c757d;
}

.my-float{
	margin-top:12px;
}

