//To hide green tick as a validation feedback
.select  {
    background-image: none;
}

.time-box-initial {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.time-box-success {
    border: 1px solid #28a745;
    border-radius: 5px;
}

.time-box-error {
    border: 1px solid #dc3545;
    border-radius: 5px;
}

.time-error-feedback {
    display: inline-block;
    text-align: center;
}

//  ::ng-deep .form-control-sm {
//     border-color: #28a745 !important;
// }