// Hiding arrows inside of input type="number"

input::-webkit-outer-spin-button, /* Chrome, Safari */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

//To hide green tick as a validation feedback
.select  {
    background-image: none;
}