<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register-user-modal">
  Registruj korisnika
</button>
<div class="modal fade" #modal id="register-user-modal" tabindex="-1" role="dialog" aria-labelledby="register-user-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="register-user-modal-label">Dodaj korisnika</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModalButton>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <div id="register-user-stepper" #registerUserStepper class="bs-stepper">
          <div class="bs-stepper-header">
            <div class="step" data-target="#personal-data-step">
              <button class="step-trigger">
                <span class="bs-stepper-circle">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <span class="bs-stepper-label">Podaci</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#details-step">
              <button class="step-trigger">
                <span class="bs-stepper-circle">
                  <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                </span>
                <span class="bs-stepper-label">Detalji</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#contact-step">
              <button class="step-trigger">
                <span class="bs-stepper-circle">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
                <span class="bs-stepper-label">Kontakt</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#finish-step">
              <button class="step-trigger">
                <span class="bs-stepper-circle">
                  <i class="fa fa-save" aria-hidden="true"></i>
                </span>
                <span class="bs-stepper-label">Kraj</span>
              </button>
            </div>
          </div>
          <div class="bs-stepper-content">
            <form (ngSubmit)="onSubmit()" [formGroup]="registerUserForm">
              <div id="personal-data-step" class="content">
                <div class="form-group">
                  <label for="firstName" >Ime:</label>
                  <input type="text" class="form-control" [ngClass]="getValidityClass('firstName')" formControlName="firstName" id="firstName" placeholder="Unesite ime" />
                  <div class="invalid-feedback" *ngIf="registerUserForm.controls.firstName.errors?.required">
                    {{getFormControlErrorMessage('firstName')}}
                  </div>
                  <div class="invalid-feedback" *ngIf="registerUserForm.controls.firstName.errors?.maxlength">
                    {{getFormControlErrorMessage('firstName')}}
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastName">Prezime:</label>
                  <input type="text" class="form-control" [ngClass]="getValidityClass('lastName')" formControlName="lastName" id="lastName" placeholder="Unesite prezime" />
                  <div class="invalid-feedback" *ngIf="registerUserForm.controls.lastName.errors?.required">
                    {{getFormControlErrorMessage('lastName')}}
                  </div>
                  <div class="invalid-feedback" *ngIf="registerUserForm.controls.lastName.errors?.maxlength">
                    {{getFormControlErrorMessage('lastName')}}
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" (click)="next()" class="btn btn-primary">Dalje &gt;</button>
                </div>
              </div>
              <div id="details-step" class="content">
                <div class="form-group">
                  <label for="gender">Pol:</label>
                  <select id="gender" class="form-control select" [ngClass]="getValidityClass('gender')" formControlName="gender" >
                    <option value="" hidden>Izaberite pol</option>
                    <option value="0">Muški</option>
                    <option value="1">Ženski</option>
                  </select>
                </div>
                <label for="dateOfBirth">Datum rođenja:</label>
                <div class="input-group mb-3">
                  <input class="form-control date-picker-form-control" [ngClass]="getValidityClass('dateOfBirth')" placeholder="Izaberite datum rođenja"
                      id="dateOfBirth" name="dateOfBirth" ngbDatepicker #d="ngbDatepicker" formControlName="dateOfBirth" 
                      [minDate]="getBirthMinDate()" [maxDate]="getBirthMaxDate()" readonly>
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar calendar-btn fa fa-calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" (click)="previous()" class="btn btn-secondary mr-1">&lt; Nazad</button>
                  <button type="button" (click)="next()" class="btn btn-primary ml-1">Dalje &gt;</button>
                </div>
              </div>
              <div id="contact-step" class="content">
                <div class="form-group">
                  <label for="role">Uloga:</label>
                  <select id="role" class="form-control select" formControlName="role" [ngClass]="getValidityClass('role')" placeholder="Izaberite ulogu">
                    <option value="" hidden *ngIf="this.advanced">Izaberite ulogu</option>
                    <option value=0 *ngIf="this.advanced">Administrator</option>
                    <option value=1 *ngIf="this.advanced">Frizer</option>
                    <option value=2 *ngIf="this.advanced">Šegrt</option>
                    <option value=3 *ngIf="this.advanced">Mušterija</option>
                    <option value=3 selected *ngIf="!this.advanced">Mušterija</option>
                  </select>
                </div>
                <label for="phoneNumber">Broj telefona:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="phone-number-prefix">+381</span>
                  </div>
                  <input type="number" class="form-control" formControlName="phoneNumber" [ngClass]="getValidityClass('phoneNumber')" id="phoneNumber" placeholder="Unesite broj telefona" />
                  <div class="invalid-feedback" *ngIf="registerUserForm.controls.phoneNumber.errors?.required">
                    {{getFormControlErrorMessage('phoneNumber')}}
                  </div>
                  <div class="invalid-feedback" *ngIf="registerUserForm.controls.phoneNumber.errors?.pattern">
                    Neispravan format. Unesite tačno devet cifara, tako da vrednost prve bude 6!
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" (click)="previous()" class="btn btn-secondary mr-1">&lt; Nazad</button>
                  <button type="button" (click)="next()" class="btn btn-primary ml-1">Dalje &gt;</button>
                </div>
              </div>
              <div id="finish-step" class="content">
                <div class="form-group" *ngIf="showUsername()">
                  <label for="username">Korisničko ime:</label>
                  <input type="text" class="form-control" [ngClass]="getValidityClass('username')" formControlName="username" id="username" placeholder="Unesite korisničko ime" />
                  <div class="invalid-feedback" *ngIf="registerUserForm.controls.username.errors?.required">
                    {{getFormControlErrorMessage('username')}}
                  </div>
                  <div class="invalid-feedback" *ngIf="registerUserForm.controls.username.errors?.maxlength">
                    {{getFormControlErrorMessage('username')}}
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" (click)="previous()" class="btn btn-secondary mr-1 mt-2">&lt; Nazad</button>
                  <button type="submit" class="btn btn-primary ml-1 mt-2" [disabled]="!registerUserForm.valid">Završi</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  