@mixin blue {
  background-color: rgb(224, 239, 255);
  border: 1px solid rgb(55, 134, 218);
}

@mixin green {
  background-color: rgb(223, 249, 223);
  border: 1px solid rgb(92, 186, 130);
}

.reservation {
  top: 0;
  padding: 0 10px;
  background-color: rgb(224, 239, 255);
  border: 1px solid rgb(55, 134, 218);
  width: calc(80% - 50px);
  height: 100px;
  position: absolute;
  left: 50px;
  cursor: pointer;

  &.new {
    animation: shake 1.8s normal forwards ease-in-out;
  }

  &.HAIR_STYLING {
    @include blue;
  }
  &.MINIVAL {
    @include blue;
  }
  &.HAIR_STRANDING {
    @include green;
  }
  &.HAIR_DYEING {
    @include green;
  }
  &.HAIR_BUN {
    @include green;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-7px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(7px, 0, 0);
  }
}
